<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="container text-center">
    <h1 class="display-1">Lista de Pessoas</h1>
    <table class="container table m-4 table-info table-striped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">FOTO</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Servidor de E-mail</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Sexo</th>
        </thead>
        <tbody>
            {% for pessoa in pessoas  %}
            <tr>
                <th scope="row">{{ pessoa.id }}</th>
                {% if pessoa.foto_usuario == null  %}
                    <td>SEM FOTO</td>
                {% else %}
                    <td><img src="{{ pessoa.foto_usuario.url }}" width="48" height="48"></td>
                {% endif %}
                
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.get_email_servidor_display }}</td>
                <td>{{ pessoa.data_nascimento }}</td>
                <td>{{ pessoa.get_sexo_display}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>