<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro APP</title>
</head>
<body>
    <!-- h1 até h6 = TAGS DE TITULO -->
    <h1>Titulo 01</h1>
    <h2>Titulo 02</h2>
    <h3>Titulo 03</h3>
    <h4>Titulo 04</h4>
    <h5>Titulo 05</h5>
    <h6>Titulo 06</h6>

    <!-- p = paragrafo -->
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit consequatur corporis, odit architecto voluptatem quia autem aut reprehenderit rerum iusto.
    </p>

    <!-- a = LINK PARA OUTROS LOCAIS -->
    <a href="http://www.google.com.br">LINK PARA O GOOGLE</a>

    <!-- UL e LI = LISTAS EM HTML -->
    <ul>
        <li>HOME</li>
        <li>PRODUTOS</li>
        <li>CONTATO</li>
    </ul>

    <!-- div = cria divisões -->
    <div>TAG TRANSPARENTE AOS NOSSOS OLHOS</div>


    <!-- hr = LINHAS DE DIVISÂO -->
    <hr>

    <!-- img = visualização de IMAGENS -->
    <img src="https://hermes.dio.me/articles/cover/a31b1064-da7f-48a2-957c-6c71f8398851.png">

</body>
</html>